In [2]:
marks ={'Andy':88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}

In [3]:
for names in marks .keys():
    print (names, marks[names])

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [5]:
max(marks.values())

90

In [6]:
min(marks.values())

55

In [5]:
res = 0
for val in marks.values():
    res += val
res = res/ len(marks)

In [6]:
print(res)

75.2

In [7]:
for names in marks. keys():
    if 'J' in names:
        break
    print(names)

Andy
Amy

In [8]:
for names in marks. keys():
    if "J" in names:
        continue
    print (names)

Andy
Amy
Arthur

In [9]:
def getgrade(name):
    for n in marks:
        if n == name:
            print (marks[name])
            return
    print(' You cannot find this students name')

In [10]:
getgrade('James')

90

In [11]:
getgrade('bob')

 You cannot find this students name

In [12]:
def less_than(num):
    for n in range(num):
        print(n)
less_than(5)

0
1
2
3
4

In [21]:
def lessthan(num):
    n =0
    while n< num:
        print(n,n**2)
        n += 1
    else:
        print ('greater than', num)
lessthan(8)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
greater than 8

In [29]:
def sumfunction(num):
    n=1 
    sum =0
    while n < num:
        sum = sum +n
        n= n+1
    print (sum)
sumfunction(20)

190

In [28]:
def sumfunction2(num):
    sum = 0
    for n in range(num):
        sum = sum + n
        print (sum)
sumfunction2(20)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190

In [33]:
def minimum(v1,v2,v3,v4):
    min_value = v1
    if v2< min_value:
        min_value = v2
    if v3< min_value:
        min_value = v3
    if v4 < min_value:
        min_value =v4
    return min_value

In [35]:
minimum(15,89,24,9)

9